<div id="private-home" class="container">

  <div class="row">

    <div class="col-xs-12">
      <h4>Your pens:</h4>
      <br>
    </div>

    <div class="col-xs-12 col-sm-9">
      <div class="row">
        {{#each pens as |pen|}}
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              {{pen.name}}
              <span class="glyphicon glyphicon-picture pull-left panel-glyphicon" aria-hidden="true"></span>
              <a href="/pen/{{pen._id}}/remove">
                <span class="glyphicon glyphicon-remove pull-right panel-glyphicon" aria-hidden="true"></span>
              </a>
            </div>
            <div class="panel-body">
              <a href="/pen/{{pen.user_id}}/{{pen._id}}">
                <div class="panel-img" style="background-image: url('{{pen.link}}'), url('/images/noimage.png')"></div>
              </a>
              <p class="pull-left">
                <br>
                likes: {{pen.likes.length}} shares: {{pen.pins.length}}
              </p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="col-xs-12 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          Add a new pen
          <span class="glyphicon glyphicon-plus pull-right panel-glyphicon" aria-hidden="true"></span>
        </div>
        <div class="panel-body">
          <form class="" action="/pen/add" method="post">
            <div class="form-group">
              <label for="name">Name:</label>
              <input class="form-control" type="text" name="name" value="">
            </div>
            <div class="form-group">
              <label for="name">Link:</label>
              <input class="form-control" type="text" name="link" value="">
            </div>
            <div class="form-group">
              <input class="btn btn-default btn-block" type="submit" name="" value="Add">
            </div>
            <div class="form-group">
              {{#if err}}
              <div class="alert alert-danger" role="alert">
                <ul>
                  <li>{{err}}</li>
                </ul>
              </div>
              {{/if}}
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12">
      <h4>Pinned pens:</h4>
      <br>
    </div>

    {{#each pinned_pens as |pen|}}
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{pen.name}}
          <span class="glyphicon glyphicon-picture pull-left panel-glyphicon" aria-hidden="true"></span>
          <a href="/pen/{{pen._id}}/remove">
            <span class="glyphicon glyphicon-remove pull-right panel-glyphicon" aria-hidden="true"></span>
          </a>
        </div>
        <div class="panel-body">
          <a href="/pen/{{pen.user_id}}/{{pen._id}}">
            <div class="panel-img" style="background-image: url('{{pen.link}}'), url('/images/noimage.png')"></div>
          </a>
          <p class="pull-left">
            <br>
            likes: {{pen.likes.length}} shares: {{pen.pins.length}}
          </p>
        </div>
      </div>
    </div>
    {{/each}}

  </div>

</div>
