<div id="public-pen" class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <img class="img-responsive pen-img" src="{{pen.link}}" alt="" onerror="imgError(this);">
      <br>
      <a href="/">
        <button class="btn btn-default" type="button" name="button">Back</button>
      </a>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h3>{{pen.name}}</h3>
      <h4>posted by: <a href="/user/{{author.name}}">{{author.name}}</a></h4>
      <hr>
      <p>likes:</p>
      <p>pins:</p>
      <br>
      <a href="/pen/{{pen._id}}/like">
        <button class="btn btn-default" type="button" name="button">Like</button>
      </a>
      <a href="/pen/{{pen._id}}/pin">
        <button class="btn btn-default" type="button" name="button">Pin</button>
      </a>
    </div>

  </div>

</div>
